In [1]:
#Import Library
import pandas as pd

In [2]:
#Import Data
df = pd.read_csv("Dataset/marketing_campaign_dataset.csv")
df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,16174,6.29,Chicago,Spanish,506,1922,6,Health & Wellness,1/1/2021
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,11566,5.61,New York,German,116,7523,7,Fashionistas,1/2/2021
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,10200,7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,1/3/2021
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,12724,5.55,Miami,Mandarin,217,1820,7,Health & Wellness,1/4/2021
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,16452,6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,1/5/2021

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       100000 non-null  int64
 1   Company           100000 non-null  object
 2   Campaign_Type     100000 non-null  object
 3   Target_Audience   100000 non-null  object
 4   Duration          100000 non-null  object
 5   Channel_Used      100000 non-null  object
 6   Conversion_Rate   100000 non-null  float64
 7   Acquisition_Cost  100000 non-null  int64
 8   ROI               100000 non-null  float64
 9   Location          100000 non-null  object
 10  Language          100000 non-null  object
 11  Clicks            100000 non-null  int64
 12  Impressions       100000 non-null  int64
 13  Engagement_Score  100000 non-null  int64
 14  Customer_Segment  100000 non-null  object
 15  Date              100000 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 12.2+ MB

In [4]:
#Mendeteksi kolom duplikasi
df.duplicated().sum()

np.int64(0)

In [5]:
#Memisahkan data numerik dan kategorikal
nums = df.select_dtypes(include=['number']).columns.tolist() #nums = numeric
cats = df.select_dtypes(exclude=['number']).columns.tolist() #cats = kategorical

In [6]:
#Mendeskripsikan data
df.describe()

,Campaign_ID,Conversion_Rate,Acquisition_Cost,ROI,Clicks,Impressions,Engagement_Score
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,0.080065,12515.846250,5.001896,549.167260,5510.295570,5.494140
std,28867.657797,0.040584,4334.888936,1.734910,259.881738,2597.237107,2.869597
min,1.000000,0.010000,5000.000000,2.000000,100.000000,1000.000000,1.000000
25%,25000.750000,0.050000,8774.000000,3.500000,324.000000,3274.000000,3.000000
50%,50000.500000,0.080000,12508.000000,5.000000,548.000000,5519.000000,5.000000
75%,75000.250000,0.110000,16266.000000,6.510000,774.000000,7757.000000,8.000000
max,100000.000000,0.150000,20000.000000,8.000000,1000.000000,10000.000000,10.000000

In [7]:
#Mendeskripsikan data kategori
df.describe(include='object')

,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Location,Language,Customer_Segment,Date
count,100000,100000,100000,100000,100000,100000,100000,100000,100000
unique,5,5,5,4,6,5,5,5,365
top,Alpha Innovations,Influencer,Men 18-24,30 days,Email,New York,Mandarin,Foodies,1/1/2021
freq,20192,20104,20187,25148,16843,20065,20222,20245,274

In [8]:
#Melihat missing value 
df.isna().sum()

Campaign_ID         0
Company             0
Campaign_Type       0
Target_Audience     0
Duration            0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Language            0
Clicks              0
Impressions         0
Engagement_Score    0
Customer_Segment    0
Date                0
dtype: int64

In [9]:
df.shape

(100000, 16)

In [10]:
#Konversi Data

#konversi kolom date
df['Date'] = pd.to_datetime(df['Date'])

df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,16174,6.29,Chicago,Spanish,506,1922,6,Health & Wellness,2021-01-01
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,11566,5.61,New York,German,116,7523,7,Fashionistas,2021-01-02
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,10200,7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,2021-01-03
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,12724,5.55,Miami,Mandarin,217,1820,7,Health & Wellness,2021-01-04
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,16452,6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,2021-01-05

In [11]:
#Mendeteksi outlier dengan metode IQR 
Q1 = df[nums].quantile(0.25)
Q3 = df[nums].quantile(0.75)
IQR = Q3 - Q1

# Tentukan Batas Bawah dan Atas
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_outlier = df[((df[nums] < lower_bound) | (df[nums] > upper_bound)).any(axis=1)]
print('Data outlier: ', df_outlier.shape[0], 'baris')

Data outlier:  0 baris

In [12]:
#Feature Engineering

# Menambahkan kolom CPC
df["cost_per_click"] = df["Acquisition_Cost"] / df["Clicks"]

# Menambahkan kolom CTR
df["click_trough_rate"] = df["Clicks"] / df["Impressions"]

# Menambahkan kolom CPM
df["cost_per_mile"] = (df["Acquisition_Cost"] / df["Impressions"]) * 1000

# Menambahkan kolom conversions
df["conversions"] = df["Conversion_Rate"] * df["Impressions"]

# Menambahkan kolom Ads Spend
df["ads_spend"] = df["Clicks"] * df["cost_per_click"]

# Menambahkan Income
df["Income"] = df["ads_spend"] * (1 + df["ROI"])

df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,...,Impressions,Engagement_Score,Customer_Segment,Date,cost_per_click,click_trough_rate,cost_per_mile,conversions,ads_spend,Income
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,16174,6.29,Chicago,...,1922,6,Health & Wellness,2021-01-01,31.964427,0.263267,8415.192508,76.88,16174.0,117908.46
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,11566,5.61,New York,...,7523,7,Fashionistas,2021-01-02,99.706897,0.015419,1537.418583,902.76,11566.0,76451.26
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,10200,7.18,Los Angeles,...,7698,1,Outdoor Adventurers,2021-01-03,17.465753,0.075864,1325.019486,538.86,10200.0,83436.00
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,12724,5.55,Miami,...,1820,7,Health & Wellness,2021-01-04,58.635945,0.119231,6991.208791,200.20,12724.0,83342.20
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,16452,6.50,Los Angeles,...,4201,3,Health & Wellness,2021-01-05,43.408971,0.090217,3916.210426,210.05,16452.0,123390.00

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Campaign_ID        100000 non-null  int64
 1   Company            100000 non-null  object
 2   Campaign_Type      100000 non-null  object
 3   Target_Audience    100000 non-null  object
 4   Duration           100000 non-null  object
 5   Channel_Used       100000 non-null  object
 6   Conversion_Rate    100000 non-null  float64
 7   Acquisition_Cost   100000 non-null  int64
 8   ROI                100000 non-null  float64
 9   Location           100000 non-null  object
 10  Language           100000 non-null  object
 11  Clicks             100000 non-null  int64
 12  Impressions        100000 non-null  int64
 13  Engagement_Score   100000 non-null  int64
 14  Customer_Segment   100000 non-null  object
 15  Date               100000 non-null  datetime64[ns]
 16  cost_per_click     100000 non-null  float64
 17  click_trough_rate  100000 non-null  float64
 18  cost_per_mile      100000 non-null  float64
 19  conversions        100000 non-null  float64
 20  ads_spend          100000 non-null  float64
 21  Income             100000 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(5), object(8)
memory usage: 16.8+ MB

In [14]:
df.to_csv("Marketing Channel.csv", index=False)